fastapi
uvicorn
torch
transformers
datasets
evaluate
accelerate
presidio-analyzer
presidio-anonymizer
redis
pydantic
python-dotenv
requests
scikit-learn
numpy
pandas
joblib
spacy
google-generativeai
python-dotenv